$GUNAO_DIR/Common
$GUNAO_DIR/posix/gusimplewhiteboard
$GUNAO_DIR/posix/gufsm/clfsm
$GUNAO_DIR/posix/gufsm/clfsm
$GUNAO_DIR/posix/gufsm
$HOME/src/MiPal/GUNao/Common
$HOME/src/MiPal/GUNao/posix/gusimplewhiteboard
$HOME/src/MiPal/GUNao/posix/gufsm/clfsm
$HOME/src/MiPal/GUNao/posix/gufsm
$MACHINE_DIR
$MACHINE_DIR/${BUILD_SUBDIR}
.
..