<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>States</key>
	<dict>
		<key>Ping</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>440.57910555625836</real>
					<key>controlPoint1Y</key>
					<real>194.26736203321795</real>
					<key>controlPoint2X</key>
					<real>470.72627740235782</real>
					<key>controlPoint2Y</key>
					<real>196.43496943225031</real>
					<key>dstPointX</key>
					<real>495</real>
					<key>dstPointY</key>
					<real>188.73828125</real>
					<key>srcPointX</key>
					<real>415</real>
					<key>srcPointY</key>
					<real>181</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>0.81739210920779171</real>
				<key>red</key>
				<real>0.71265238078022308</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>4</real>
			<key>onEntryHeight</key>
			<real>100</real>
			<key>onExitHeight</key>
			<real>49</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>400</real>
			<key>x</key>
			<real>221</real>
			<key>y</key>
			<real>185</real>
			<key>zoomedInternalHeight</key>
			<real>0.0</real>
			<key>zoomedOnEntryHeight</key>
			<real>0.0</real>
			<key>zoomedOnExitHeight</key>
			<real>0.0</real>
		</dict>
		<key>Pong</key>
		<dict>
			<key>Transitions</key>
			<array>
				<dict>
					<key>controlPoint1X</key>
					<real>476.78731149506359</real>
					<key>controlPoint1Y</key>
					<real>154.79640529896426</real>
					<key>controlPoint2X</key>
					<real>433.30581853575399</real>
					<key>controlPoint2Y</key>
					<real>152.68670736210657</real>
					<key>dstPointX</key>
					<real>415</real>
					<key>dstPointY</key>
					<real>181</real>
					<key>srcPointX</key>
					<real>495</real>
					<key>srcPointY</key>
					<real>188.73828125</real>
				</dict>
			</array>
			<key>bgColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.88764002519564011</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.84471532989924014</real>
			</dict>
			<key>expanded</key>
			<true/>
			<key>h</key>
			<real>200</real>
			<key>internalHeight</key>
			<real>5</real>
			<key>onEntryHeight</key>
			<real>112</real>
			<key>onExitHeight</key>
			<real>36</real>
			<key>strokeColour</key>
			<dict>
				<key>alpha</key>
				<real>1</real>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<key>w</key>
			<real>400</real>
			<key>x</key>
			<real>690</real>
			<key>y</key>
			<real>185</real>
			<key>zoomedInternalHeight</key>
			<real>285</real>
			<key>zoomedOnEntryHeight</key>
			<real>295</real>
			<key>zoomedOnExitHeight</key>
			<real>286</real>
		</dict>
	</dict>
	<key>Version</key>
	<string>1.3</string>
</dict>
</plist>
