<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WindowLayout.plist</key>
	<dict>
		<key>h</key>
		<real>1024</real>
		<key>w</key>
		<real>1280</real>
		<key>x</key>
		<real>640</real>
		<key>y</key>
		<real>208</real>
	</dict>
	<key>inspector</key>
	<dict>
		<key>w</key>
		<real>219</real>
	</dict>
</dict>
</plist>
